*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
#reset-btn{
    padding: 10px;
    border-radius: 1rem;
    border: none;
    font-size: 15px;
    background-color: black;
    color: white;
}
#new-btn{
    padding: 10px;
    border-radius: 1rem;
    border: none;
    font-size: 15px;
    background-color: black;
    color: white;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.box{
    height:18vmin;
    width:18vmin;
    background-color: #ffffc7;
    color: #b0413e;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;

}
.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#msg{
    font-size: large;
    color: black;
    align-items: center;
}
.hide{
    display: none;
}